# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
